<%= render 'layouts/notice' %>
<%= render 'layouts/alert' %>

<h2><%= @page_title = "Order #{@order.id}" %></h2>

<table class="table" id="cart">
  <thead>
  <tr>
    <th>Product</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Subtotal</th>
  </tr>
  </thead>

  <tbody>
  <%= render @order.line_items %>
  </tbody>
  <tr class="font-weight-bold">
    <td></td>
    <td></td>
    <td>Total</td>
    <td><%= number_to_currency(@order.total_price) %></td>
  </tr>
</table>

<p>
  <strong>Address:</strong>
  <%= @order.address %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<% if @order.comment.present? %>
<p>
  <strong>Admin comment:</strong>
  <%= @order.comment %>
</p>
<% end %>

