<%= render 'layouts/notice' %>
<%= render 'layouts/alert' %>

<h2><%= @page_title = 'Your Cart' %></h2>
<%= render @cart %>

<%= button_to 'Empty cart', @cart, method: :delete, data: { confirm: 'Are you sure?' },
              class: 'btn btn-outline-primary' %>
