<%= render 'layouts/notice' %>
<%= render 'layouts/alert' %>

<h2><%= @page_title = 'Your Cart' %></h2>
<%= render @cart %>

<div class="cart_action">
  <%= button_to 'Empty cart', @cart, method: :delete, data: { confirm: 'Are you sure?' },
                class: 'btn btn-outline-primary' %>
  <%= button_to 'Checkout', new_order_path, method: :get, class: 'btn btn-outline-primary' %>
</div>
