<p id="notice"><%= notice %></p>

<h1>Products</h1>

<div class="product">
    <% @products.each do |product| %>
      <h5><%= link_to product.title, product %></h5>
        <p><%= product.price %></p>
        <p><%= product.short_description %></p>
    <% if current_user && current_user.role == 'admin' %>
      <ul class="product_action">
        <li><%= link_to 'Edit', edit_product_path(product) %></li>
        <li><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      </ul>
    <% end %>
    <% end %>
</div>

<%= link_to 'New Product', new_product_path %>
