<%= render 'layouts/notice' %>
<%= render 'layouts/alert' %>

<h1>Products</h1>

<div class="product">
  <% @products.each do |product| %>
    <h5><%= link_to product.title, product %></h5>
    <p><%= product.price %></p>
    <p><%= product.short_description %></p>
  <% end %>
</div>
