<%= render 'layouts/notice' %>
<%= render 'layouts/alert' %>

<div class="product">
  <h2><%= @product.title %></h2>

  <p>
    <strong>Price:</strong>
    <%= @product.price %>
  </p>

  <%= render 'rating', product: @product %>
  <% if @product.rating.present? %>
    <p>Rating: <%= @product.rating %> / <%= @product.reviews.size %></p>
  <% end %>

  <p><%= @product.full_description.html_safe %></p>

  <% @product.images.each do |image| %>
    <%= image_tag image.img.url, class: 'img-thumbnail' %>
  <% end %>
</div>

<h3 id="reviews">Reviews</h3>
<% if @reviews.present? %>
  <div class="reviews"><%= render @reviews %></div>
<% else %>
  <p>No reviews.</p>
<% end %>

<h3>Add a review:</h3>
<% if current_user %>
  <%= render 'reviews/form' %>
<% else %>
  <p><%= link_to 'Log in', new_session_path %> or <%= link_to 'Sign up', new_user_path %> to leave a review.</p>
<% end %>
