<div class="filter">
  <h4>Filter:</h4>

  <%= @filter if @filter.present? %>

  <%= form_tag products_path, method: :get do %>
    <% @filters.each do |filter| %>
      <section>
        <ul>
          <% if filter.tag_list.present? %>
            <h5><%= filter.title %></h5>
            <% filter.tag_list.each do |tag| %>
              <%= @tag %>
              <li><%= check_box_tag 'tag[]', tag, params[:tag].present? ? params[:tag].include?(tag) : false,
                                    id: tag, onchange: 'this.form.submit();' %><%= tag %></li>
            <% end %>
          <% end %>
        </ul>
      </section>
    <% end %>
  <% end %>
</div>
