<div class="filter">
  <h4>Filter:</h4>

  <%= @filter if @filter.present? %>

  <%= form_tag products_path, method: :get do %>
    <% @filters.each do |filter| %>
      <section>
        <ul>
          <% if filter.tag_list.present? %>
            <h5><%= filter.title %></h5>
            <% filter.tag_list.each do |tag| %>
              <%= @tag %>
              <li><%= check_box_tag 'tag[]', tag, params[:tag].present? ? params[:tag].include?(tag) : false,
                                    id: tag, onchange: 'this.form.submit();' %><%= tag %></li>
            <% end %>
          <% end %>
        </ul>
      </section>
    <% end %>

    <h5>Price</h5>
    <% value_min = params[:min_price].present? ? params[:min_price] : @min_price %>
    <% value_max = params[:max_price].present? ? params[:max_price] : @max_price %>

    <strong>Min</strong>
    <%= range_field_tag('min_price', value = value_min,
                        options= { min: @min_price, max: value_max, step: 0.01, class: 'price-range' })%>
    <input type="number" id="min" value ="<%= value_min %>" class="form-control"
           min="<%= @min_price %>" max="<%= value_max %>" step="0.01"
           data-index="<%= @min_price %>">

    <strong>Max</strong>
    <%= range_field_tag('max_price', value = value_max,
                        options= { min: value_min, max: @max_price, step: 0.01, class: 'price-range' })%>
    <input type="number" id="max" value ="<%= value_max %>" class="form-control"
           min="<%= value_min %>" max="<%= @max_price %>" step="0.01"
           data-index="<%= @max_price %>">

    <%= submit_tag 'Filter', class: 'btn btn-outline-primary' %>
  <% end %>
</div>
