<div class="menu">
  <img src="<%= asset_pack_path 'src/images/nav.png' %>" id="nav-media" />
  <ul class="nav">
    <li class="nav-item">
      <%= link_to 'Home', root_path, class: 'nav-link' %>
    </li>

    <% cache @pages do %>
      <% @pages.each do |page| %>
        <% cache page do %>
          <li class="nav-item">
            <%= link_to page.title, page, class: 'nav-link' %>
          </li>
        <% end %>
      <% end %>
    <% end %>

    <% if current_user %>
      <li class="nav-item">
        <%= link_to user_path(current_user.id), class: 'nav-link' do %>
          <i class="fa fa-user-o" aria-hidden="true"></i>
          <%= current_user.name %>
        <% end %>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to 'Log in', new_session_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Sign up', new_user_path, class: 'nav-link' %>
      </li>
    <% end %>

    <li class="nav-item">
      <%= link_to cart_path(@cart), class: 'nav-link' do %>
        <i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart (<%= @count %>)
      <% end %>
    </li>
  </ul>
</div>
